{% extends 'base.html.twig' %}

{% block title %}Widget index{% endblock %}

{% block body %}
    <h1>Widget index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for widget in widgets %}
            <tr>
                <td>{{ widget.id }}</td>
                <td>{{ widget.name }}</td>
                <td>{{ widget.description }}</td>
                <td>{{ widget.createdAt ? widget.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('widget_show', {'id': widget.id}) }}">show</a>
                    <a href="{{ path('widget_edit', {'id': widget.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('widget_new') }}">Create new</a>
{% endblock %}
